parameters:
	ignoreErrors:
		-
			message: '#^Call to method willReturn\(\) on an unknown class PHPUnit\\Framework\\MockObject\\Builder\\InvocationMocker\.$#'
			identifier: class.notFound
			count: 1
			path: src/Symfony/AbstractControllerTestCase.php

		-
			message: '#^Method DR\\PHPUnitExtensions\\Symfony\\AbstractControllerTestCase\:\:expectGenerateUrl\(\) has invalid return type PHPUnit\\Framework\\MockObject\\Builder\\InvocationMocker\.$#'
			identifier: class.notFound
			count: 1
			path: src/Symfony/AbstractControllerTestCase.php

		-
			message: '#^Method DR\\PHPUnitExtensions\\Symfony\\AbstractControllerTestCase\:\:expectGenerateUrlWithConsecutive\(\) has invalid return type PHPUnit\\Framework\\MockObject\\Builder\\InvocationMocker\.$#'
			identifier: class.notFound
			count: 1
			path: src/Symfony/AbstractControllerTestCase.php

		-
			message: '#^Method DR\\PHPUnitExtensions\\Symfony\\AbstractControllerTestCase\:\:expectRedirectToRoute\(\) has invalid return type PHPUnit\\Framework\\MockObject\\Builder\\InvocationMocker\.$#'
			identifier: class.notFound
			count: 1
			path: src/Symfony/AbstractControllerTestCase.php

		-
			message: '#^Method DR\\PHPUnitExtensions\\Symfony\\Helper\\FormAssertion\:\:__construct\(\) has parameter \$form with generic interface Symfony\\Component\\Form\\FormInterface but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Symfony/Helper/FormAssertion.php

		-
			message: '#^Method DR\\PHPUnitExtensions\\Symfony\\Helper\\FormAssertion\:\:allWillReturn\(\) has parameter \$forms with generic interface Symfony\\Component\\Form\\FormInterface but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Symfony/Helper/FormAssertion.php

		-
			message: '#^Method DR\\PHPUnitExtensions\\Symfony\\Helper\\FormAssertion\:\:getConfigWillReturn\(\) has parameter \$config with generic interface Symfony\\Component\\Form\\FormConfigInterface but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Symfony/Helper/FormAssertion.php

		-
			message: '#^Call to method willReturn\(\) on an unknown class PHPUnit\\Framework\\MockObject\\Builder\\InvocationMocker\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Integration/Symfony/Controller/GenerateUrlControllerTest.php

		-
			message: '#^Call to method willReturnOnConsecutiveCalls\(\) on an unknown class PHPUnit\\Framework\\MockObject\\Builder\\InvocationMocker\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Integration/Symfony/Controller/GenerateUrlControllerTest.php
