parameters:
	ignoreErrors:
		-
			message: '#^Method DR\\PHPUnitExtensions\\Symfony\\Helper\\FormAssertion\:\:__construct\(\) has parameter \$form with generic interface Symfony\\Component\\Form\\FormInterface but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Symfony/Helper/FormAssertion.php

		-
			message: '#^Method DR\\PHPUnitExtensions\\Symfony\\Helper\\FormAssertion\:\:allWillReturn\(\) has parameter \$forms with generic interface Symfony\\Component\\Form\\FormInterface but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Symfony/Helper/FormAssertion.php

		-
			message: '#^Method DR\\PHPUnitExtensions\\Symfony\\Helper\\FormAssertion\:\:getConfigWillReturn\(\) has parameter \$config with generic interface Symfony\\Component\\Form\\FormConfigInterface but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Symfony/Helper/FormAssertion.php
